<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hintalaputin - Lantahiputin</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/styles/style.css" rel="stylesheet">
  
      
    </head>
    <body>
    
        <div class="menubar noprint">

            
            <form action="/hae" method="post">
                <button onclick="window.print()" title="Tulosta" class="nappi">
                    <span class="material-icons">print</span>
                </button>
                
                <input type="text" class="noprint url" name="urlinput" value="{url}" onclick="this.select()">
                <button type="submit" class="nappi">
                    <span class="material-icons">search</span>
                </button>
            </form>
            
            <!--<div class="noprint">
                <input type="range" min="1" max="200" value="100" class="slider" id="myRange">
              </div>    -->

        </div>

       
    <div class="tausta" tabindex="-1">
        <div class="taustakuva noprint" tabindex="-1">
            <img src="/img/kehys.png" id="taustakuva">
        </div>
        <div class="sivu" tabindex="-1">
            <div class="kuva" tabindex="-1">
                <img src="https://www.minimani.fi/media/catalog/product/placeholder/default/minimaniph.png" id="kuvakoko">
            </div>
            <div class="tuote tekstit" contenteditable="true" tabindex="1">{tuote}</div>
            <div class="ean tekstit" contenteditable="true" tabindex="2">{ean}</div>
            <div class="hinta tekstit" contenteditable="true" tabindex="3">{hinta}</div>
            <div class="kuvaus tekstit" contenteditable="true" tabindex="4">{kuvaus}</div>
            </div>
        </div>





    </body>
    </html>