<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hintalaputin - Lantahiputin</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/styles/style.css" rel="stylesheet">
  
      
    </head>
    <body>
    
        <div class="menubar noprint">

            <fieldset class="noprint">
                <form action="/hae" method="post" class="noprint">
                    <input type="text" class="noprint" name="urlinput" value="{url}" onclick="this.select()" title="Syötä tuotteen www-osoite ja paina Hae">
                    <button type="submit" title="Syötä tuotteen www-osoite ja paina Hae" class="noprint" style="width: 100px;">
                        <span class="material-icons">search</span>Hae
                    </button>
                </form> 
                
                <br>   
                    <button onclick="window.print()" title="Tulosta"><span class="material-icons">print</span>Tulosta</button>
                    
                    <button onclick="tulostareunat()" title="Valitse tämä tulostaaksesi mustien kehysten kanssa" id="btn-tulostakehykset"><span id="tulostareunatcheckbox" class="material-icons">check_box_outline_blank</span>Tulosta kehykset</button>
                    
                    <button onclick="kaanna()" title="Käännä kuvaa"><span class="material-icons">rotate_right</span>Käännä</button>
                    
                    <!-- <fieldset class="fs-skaalaus">
                        <legend>Esikatselu</legend>     -->
                        <button onclick="skaalaaesikatselua(1.05)" title="Suurenna esikatselua"><span class="material-icons">add</span></button>
                        <button onclick="skaalaaesikatselua(0.95)" title="Pienennä esikatselua"><span class="material-icons">remove</span></button>
                    <!-- </fieldset> -->

                    
                    
                    <div class="sliderdiv">
                        <div class="testi noprint">
                            <label class="sliderteksti">Tuotekuvan koko</label>
                            <input type="range" min="0" max="90" value="40" class="slider" id="myRange" title="Säädä tuotekuvan kokoa">
                        </div>
                        
                        <div class="testi noprint">
                            <label class="sliderteksti" for="kuvakorkeus">Tuotekuvan sijainti</label>
                            <input type="range" min="-100" max="100" value="0" class="slider" id="kuvakorkeus">
                        </div>
                        
                        <div class="testi noprint">
                            <label class="sliderteksti">Tekstin sijainti</label>
                            <input type="range" min="-30" max="90" value="0" class="slider" id="slidertekstikorkeus">
                        </div>
                        
                        <div class="testi noprint">
                            <label class="sliderteksti">Tuotetietojen koko</label>
                            <input type="range" min="0.85" max="1.8" value="1.3" class="slider" id="sliderkuvausteksti" step="0.005">
                        </div>
                    </div>
                    
            </fieldset>        
                
        </div>  
    
    <div class="spacer">
        &nbsp;
    </div>
            
    <div class="tausta" tabindex="-1" title="Klikkaa tekstiä muokataksesi sitä">
        <div class="taustakuva noprint" tabindex="-1">
            <img src="/img/kehys.png" id="taustakuva">
        </div>
        <div class="sivu" tabindex="-1">
            <div class="kuva" tabindex="-1">
                <img src="https://www.minimani.fi/media/catalog/product/placeholder/default/minimaniph.png" id="kuvakoko">

            </div>
            <div class="tuote tekstit" contenteditable="true" tabindex="1" style="margin-top: 0vh;" title="Klikkaa muokataksesi tekstiä">{tuote}</div>
            <div class="ean tekstit" contenteditable="true" tabindex="2" title="Klikkaa muokataksesi tekstiä">{ean}</div>
            <div class="hinta tekstit" contenteditable="true" tabindex="3" title="Klikkaa muokataksesi tekstiä">{hinta}</div>
            <div class="kuvaus tekstit" contenteditable="true" tabindex="4" title="Klikkaa muokataksesi tekstiä">{kuvaus}</div>
            </div>
        </div>


        <script>
            var slider = document.getElementById("myRange");
            var sliderKuvakorkeus = document.getElementById("kuvakorkeus"); 
            var sliderTekstikorkeus = document.getElementsByClassName("tuote")[0];
            var sliderKuvausteksti = document.getElementsByClassName("kuvaus");
            var output = document.getElementById("kuvakoko"); //haetaan kuva
            var outputKuvakorkeus = document.getElementById("kuvakoko");
            var outputTekstikorkeus = document.getElementsByClassName("tuote")[0];
            var outputKuvausteksti = document.getElementsByClassName("kuvaus")[0];
            output.style.width = slider.value; // Display the default slider value
            outputKuvakorkeus.style.marginTop = sliderKuvakorkeus.value; // Display the default slider value
            outputTekstikorkeus.style.marginTop = sliderTekstikorkeus.value; // Display the default slider value
            outputKuvausteksti.style.fontSize = sliderKuvausteksti.value; // Display the default slider value
            
            // Update the current slider value (each time you drag the slider handle)
            slider.oninput = function() {
                output = this.value;
                document.getElementById("kuvakoko").style.width = output + "%";
            } 
            sliderKuvakorkeus.oninput = function() {
                outputKuvakorkeus = this.value;
                document.getElementById("kuvakoko").style.marginTop = outputKuvakorkeus + "%";
                console.log("Kuvakorkeus: " + outputKuvakorkeus);
            } 
            slidertekstikorkeus.oninput = function() {
                outputTekstikorkeus = this.value;
                document.getElementsByClassName("tuote")[0].style.marginTop = outputTekstikorkeus + "%";
                console.log(outputTekstikorkeus);
            } 
            sliderkuvausteksti.oninput = function() {
                outputKuvausteksti = this.value;
                document.getElementsByClassName("kuvaus")[0].style.fontSize = outputKuvausteksti + "vh";
                document.getElementsByClassName("kuvaus")[0].style.lineHeight = "inherit";
                // document.getElementsByClassName("kuvaus")[0].style.lineHeight = outputKuvausteksti * 1.2;
                console.log(outputKuvausteksti);
            } 

            let asteet = 0;
            kaanna = function() {
                asteet = asteet + 90;
                let apuAsteet = "rotate(" + asteet + "deg)"
                document.getElementById("kuvakoko").style.transform= apuAsteet;
            }


           
            // Tarkistetaan tuliko kuva oikein. Jos ei, lisätään kuva-urlin perään "_1"
            window.addEventListener("load", event => {
            var image = document.querySelector('#kuvakoko');
            var isLoaded = image.complete && image.naturalHeight !== 0;

            let apuri;
            for (let index = 2; index < 10; index++) {
                apuri = image.src.replace(".jpg", `_${index}.jpg`);
                
                // console.log(apuri);
                
                let lisakuva = document.createElement("IMG");
                lisakuva.setAttribute("src", `${apuri}`)
                // lisakuva.setAttribute("width", `100`)
                lisakuva.setAttribute("class", `lisakuva`)
                
                lisakuva.addEventListener("load", function(){
                    // alert(lisakuva.src + " " + this.naturalWidth +' '+ this.naturalHeight );
                    // Mikäli lisäkuvalla on olemassa korkeusarvo, lisätään kuva dom:iin
                    if (lisakuva.naturalHeight) {
                        // alert(lisakuva.naturalHeight);
                        // document.body.appendChild(lisakuva);
                        
                        //mitä, mihin EI TOIMI
                        document.body.append(lisakuva, getElementsByClassName('tausta'));
                    }                   
                });


//                 var x = document.createElement("IMG");
//   x.setAttribute("src", "img_pulpit.jpg");
//   x.setAttribute("width", "304");
//   x.setAttribute("height", "228");
//   x.setAttribute("alt", "The Pulpit Rock");
//   document.body.appendChild(x);
            }

            
            if(!isLoaded) {
                image = image.src.replace(".jpg", "_1.jpg");
                document.querySelector('#kuvakoko').src = image;
                console.log("Alkuperäistä kuvaa ei löytynyt. Lisätään urlin perään '_1.jpg'");
            };
            
            // Jos kuva _1.jpg ei toimi, vaihdetaan sen tilalle placeholder
            if(!isLoaded) {
                // jos ei toimi, korvataan se placeholderilla
                image = image.src = "https://www.minimani.fi/media/catalog/product/placeholder/default/minimaniph.png";
                document.querySelector('#kuvakoko').src = image;
                console.log("Palautetaan placeholder-kuva.");
            };
            });

            


            // tarkistetaan onko "tulosta kehykset" valittuna
            tulostareunat = function() {
                if (document.querySelector('#tulostareunatcheckbox').innerHTML == "check_box_outline_blank") {
                    // console.log("Tulosta kehykset");
                    document.querySelector('.taustakuva').classList.remove('noprint');
                    document.querySelector('#tulostareunatcheckbox').innerHTML = "check_box";
                }
                else if (document.querySelector('#tulostareunatcheckbox').innerHTML == "check_box") {
                    document.querySelector('.taustakuva').classList.add('noprint');
                    document.querySelector('#tulostareunatcheckbox').innerHTML = "check_box_outline_blank";
                    // console.log("poista kehykset");
                }
            }

            // skaalataan esikatselukuvaa
            let skaalaus = 78;
            skaalaaesikatselua = function(kerroin) {
                kerroin = parseFloat(kerroin);
                console.log("Kerroin ", kerroin + " * " + skaalaus + " = " + skaalaus*kerroin);
                skaalaus = skaalaus * kerroin;
                document.querySelector('.tausta').style.transform = `scale(${skaalaus}%)`;
            }


                

            </script>


    </body>
    </html>