    html, body {
        /* height: 100%; */
        }
        @font-face {
            font-family: AntiqueOliveBlack; src: url('/fonts/AntiqueOliveStd-Black.otf');
        }
        @font-face {
            font-family: AntiqueOliveRoman; src: url('/fonts/AntiqueOliveStd-Roman.otf');
        }

    body {
        margin: 0px;
        /* background-color: lightblue; */
        background-image: radial-gradient(#ffffff, #ec6707);
        overflow-x: hidden; /* Hide horizontal scrollbar */
        /* overflow-y: hidden; */
    }
    
    .wrapper {
        height: 90%;
    }
    .inner {
        margin: 0 auto;
        background-image: url(/img/kehys.png);
        background-size: 100%;
        height: 100%;
        width: 66.6666666666vh;
        line-height: 0;
    }
    .hintalappu {
        margin: 0 auto;
        height: 100%;
        width: 75%; /* TULOSTUSMARGINAALIT */
        line-height:1;
    }
    .kuva {
        display:flex;
        justify-content:center;
        padding-top: 16vh;
        position: relative;
        z-index: 998;
    }
    #kuvakoko {
        width: 40%;
        height: 40%;
        position: relative;
        z-index: -999;
    }
    .menubar {
        width: 100%;
        /* background-color: rgb(68, 126, 162); */
        background-color: #626262;
        /* background-image: linear-gradient(#a5a09d, #7c7670); */
        z-index: 9999;
        position: sticky;
        margin-bottom: 10px;    
        padding-top: 10px;    
    }
    .url {
        width: 20vw;
        /* border: none;
        height: 50px;
        border-radius: 4px; */
    }
    .tuote {
        font-family: AntiqueOliveBlack;
        font-size: 4vh;
        margin-top: 0;
        text-transform: uppercase;
    }
    .kuvaus {
        font-family: AntiqueOliveRoman;
        --font-size: 1.3vh;
        line-height: calc((var(--font-size))*1.2);
        font-size: var(--font-size);
    }
    .ean {
        font-family: AntiqueOliveRoman;
        font-size: 1.2vh;
        line-height: 1.6vh;
        margin: 2px 0;
        color: #b5b5b5;
    }
    .hinta {
        font-family: AntiqueOliveBlack;
        font-size: 8vh;
    }
    .sivu {
        background-color: white;
        position: absolute;
        /* z-index: -999; */
        --korkeus: 100vh;
        --leveys: calc( ( var( --korkeus ) ) / 1.41 );
        height: var(--korkeus);
        width: var(--leveys);
    }
    #taustakuva {
        height: 100vh;
        position: relative;
        z-index: 999;
    }
    .tekstit {
        padding: 0 7vh;
        position:relative;
        z-index: 9999999;
    }
    .tekstit:focus {
        background-color:rgb(255, 248, 174, 0.5);
    }
    .tekstit:hover {
        background-color:rgb(255, 248, 174, 0.5);
    }
    .tausta {
        justify-content: center;
        display: flex;
        transform: scale(78%);
        transform-origin: top;
        position: relative;
    }
    fieldset {
        font-size: 0.9em;
        font-family: sans-serif;
        border: 0;
    }
    
    input, button {
        font-size: inherit;
        padding: 0.2em;
        margin: 0.1em 0.2em;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        height:40px;
    }
    form {
        display: inline-flex;
        width: 100%;
    }
    button {
        width: max-content;
        padding: 0 15px;
        background-color: #ec6707;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        transition-duration: 0.4s;
        border-radius: 4px;
    }
    button:hover {
        background-color: #ff832b;
        color: white;
    }
    .sliderdiv {
        width: 100%;
    }
    
    /* The slider itself */
    .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 90%; /* Full-width */
    height: 2px; /* Specified height */
    background: #868686; /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 4px;
    margin: 10px 0;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #ec6707; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 100%;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #ec6707; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 100%;
  }
  
    label {
        font-family: AntiqueOliveRoman;
        color: white;
        font-size: 0.8em;
        display: block;
        padding-left: 5px;
    }
    .testi {
        /* width: max-content;
        position: relative;
        display: inline-block;
        top: 1em;
        padding-bottom: 1em; */
        float: left;
        width: 25%;
        margin-top: 1em;
    }
    input[type=text] {
        width: inherit;
        border-radius: 4px;
        border: 0;
        margin-right: 7px;
        margin-bottom: 7px;
        padding: 0 10px;
    }
    /* googlen kuvakkeet */
    .material-icons {
        vertical-align: middle;
        margin-right: 4px;
    }
    @media print {
        .noprint {
           visibility: hidden;
        }
        /* html, body {
            height: 100% !important; 
            margin: 0 !important; 
            padding: 0 !important;
            overflow: hidden;
        } */
        input, button, fieldset, .menubar {
            display: none;
        }
        .sivu {
            overflow: hidden;
        }
        .tausta {
            transform: scale(100%);
            top: 0;
            width: 100%;
            height: 100%;
            /* pakottaa tulostamaan vain yhden sivun */
            position: fixed;
        }

        
     }