    @font-face {
        font-family: ArchivoRegular; src: url('/fonts/Archivo-Regular.ttf');
        /* font-family: AntiqueOliveBlack; src: url('/fonts/AntiqueOliveStd-Black.otf'); */
    }
    @font-face {
        font-family: ArchivoItalic; src: url('/fonts/Archivo-LightItalic.ttf');
        /* font-family: AntiqueOliveRoman; src: url('/fonts/AntiqueOliveStd-Roman.otf'); */
    }
    @font-face {
        font-family: ArchivoCondensed; src: url('/fonts/Archivo_Condensed-ExtraBold.ttf');
        /* font-family: AntiqueOliveRoman; src: url('/fonts/AntiqueOliveStd-Roman.otf'); */
    }
    @font-face {
        font-family: Viivakoodi; src: url('/fonts/ViisasEAN_Matala_1_1.otf');
    }

    body {
        margin: 0px;
        /* background-color: lightblue; */
        background-image: radial-gradient(#ffffff, #485059);
        overflow-x: hidden; /* Hide horizontal scrollbar */
        /* overflow-y: hidden; */
    }
    
    .wrapper {
        height: 90%;
    }
    .inner {
        margin: 0 auto;
        background-image: url(/img/kehys.png);
        background-size: 100%;
        height: 100%;
        width: 66.6666666666vh;
        line-height: 0;
    }
    .hintalappu {
        margin: 0 auto;
        height: 100%;
        width: 75%; /* TULOSTUSMARGINAALIT */
        line-height:1;
    }
    .kuva {
        display:flex;
        justify-content:center;
        padding-top: 16vh;
        position: relative;
        z-index: 998;
    }
    #kuvakoko {
        width: 40%;
        height: 40%;
        position: relative;
        z-index: -999;
    }
    .lisakuva {
        padding: 2px;
        justify-content: center;
        height: 60px;
    }
    .huomio {
        background-color: #373737;
        font-family: ArchivoRegular;
        font-size: 0.9em;
        color:rgb(179, 179, 179);
        justify-content: center;
        display: flex;
        margin-bottom: 10px;
        padding: 3px 0;
    }
    .menubar {
        width: 100%;
        /* background-color: rgb(68, 126, 162); */
        background-color: #626262;
        /* background-image: linear-gradient(#a5a09d, #7c7670); */
        z-index: 9999;
        position: fixed;
        margin-bottom: 10px;    
    }
    .spacer {
        width: 100%;
        height: 200px;
    }
    .url {
        width: 20vw;
        /* border: none;
        height: 50px;
        border-radius: 4px; */
    }
    .tuote {
        /* font-family: AntiqueOliveBlack; */
        font-family: ArchivoCondensed;
        font-size: 4vh;
        margin-top: 0;
        text-transform: uppercase;
    }
    .kuvaus {
        /* font-family: AntiqueOliveRoman; */
        font-family: ArchivoItalic;
        --font-size: 1.3vh;
        line-height: calc((var(--font-size))*1.2);
        font-size: var(--font-size);
    }
    .viivakoodi {
        /* font-family: 'Libre Barcode EAN13 Text', cursive; */
        font-family: 'Viivakoodi';
        font-size: 4vh;
        /* line-height: 10.6vh; */
        margin: 20px 0;
        color: #000000;
        visibility: hidden;
    }
    /* .p-ean { */
        /* margin-top: -65px;
        position: absolute; */
    /* } */
    .ean {
        font-family: ArchivoRegular;
        font-size: 1.2vh;
        line-height: 1.6vh;
        margin: 2px 0;
        color: #b5b5b5;
    }
    .hinta {
        font-family: ArchivoCondensed;
        font-size: 10vh;
        display: inline-flex;
    }
    .sulkuhinta {
        font-family: ArchivoCondensed;
        font-size: 3vh;
        margin-left: 1vw;
        margin-top: 1.7vh;
    }
    .sulkuhinta:hover {
        background-color: pink;
    }
    .sivu {
        background-color: white;
        position: absolute;
        /* z-index: -999; */
        --korkeus: 100vh;
        --leveys: calc( ( var( --korkeus ) ) / 1.41 );
        height: var(--korkeus);
        width: var(--leveys);
    }

    /* kun .sivua hoveroi, .tekstien taustaväri vaihtuu */
    /* https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-one-element-is-hovered */
    /* .sivu:hover .tekstit {
        background-color:rgb(255, 248, 174, 0.5);
    } */
    #taustakuva {
        height: 100vh;
        position: relative;
        z-index: 999;
    }
    .tekstit {
        padding: 0 9vh;
        position:relative;
        z-index: 9999999;
    }
    .tekstit:focus {
        background-color:rgb(255, 248, 174, 0.5);
    }
    .tekstit:hover {
        background-color:rgb(255, 248, 174, 0.5);
    }
    .tausta {
        justify-content: center;
        display: flex;
        transform: scale(78%);
        transform-origin: top;
        position: relative;
    }
    fieldset {
        font-size: 0.9em;
        font-family: sans-serif;
        border: 0;
        margin-right: 0.3em;
    }
    
    input, button {
        font-size: inherit;
        padding: 0.2em;
        margin: 0.1em 0.2em;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        height:40px;
    }
    form {
        display: inline-flex;
        width: 100%;
    }
    button {
        width: max-content;
        padding: 0 15px;
        background-color: #fa6400;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        transition-duration: 0.4s;
        border-radius: 4px;
    }
    button:hover {
        filter: brightness(0.85);
        color: white;
    }
    .btn-harmaa {
        background-color: #868686;
    }
    .btn-oikea {
        float: right;
    }
    legend {
        background-color: gray;
        color: white;
        padding: 5px 10px;
      }
      .fs-skaalaus {
        border-color: #F00;
        border-style: solid;
      }

    .sliderdiv {
        width: 100%;
    }
    
    /* The slider itself */
    .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 90%; /* Full-width */
    height: 2px; /* Specified height */
    background: #868686; /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 4px;
    margin: 10px 0;
  }
  
  /* Mouse-over effects */
  /* .slider:hover {
    
  } */
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #fa6400; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 100%;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #fa6400; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 100%;
  }
  
    label {
        font-family: ArchivoRegular;
        color: white;
        font-size: 0.8em;
        display: block;
        padding-left: 5px;
    }
    .testi {
        /* width: max-content;
        position: relative;
        display: inline-block;
        top: 1em;
        padding-bottom: 1em; */
        float: left;
        width: 25%;
        margin-top: 1em;
    }
    input[type=text] {
        width: inherit;
        border-radius: 4px;
        border: 0;
        margin-right: 7px;
        margin-bottom: 7px;
        padding: 0 10px;
    }
    /* googlen kuvakkeet */
    .material-icons, .material-icons-outlined {
        vertical-align: middle;
        margin-right: 4px;
    }
    @media print {
        .noprint {
           visibility: hidden;
        }
        /* html, body {
            height: 100% !important; 
            margin: 0 !important; 
            padding: 0 !important;
            overflow: hidden;
        } */
        input, button, fieldset, .menubar {
            display: none;
        }
        .sivu {
            overflow: hidden;
        }
        .tausta {
            transform: scale(100%) !important;
            top: 0 !important;
            width: 100% !important;
            height: 100% !important;
            /* pakottaa tulostamaan vain yhden sivun */
            position: fixed !important;
        }
        body {
            background-image: none;
        }

        
     }